<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-inner">
            <a class="navbar-brand" href="#">
                Websites
            </a>
            <p class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}/website/new" class="navbar-link">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container">

    <ul class="list-group">
        <li ng-repeat="website in model.websites" class="list-group-item">
            <a href="#/user/{{website._user}}/website/{{website._id}}/page">
                {{website.name}}
            </a>
            <a href="#">
                <span class="glyphicon glyphicon-play pull-right"></span>
            </a>
            <a href="#/user/{{website._user}}/website/{{website._id}}">
                <span class="glyphicon glyphicon-cog pull-right"></span>
            </a>
        </li>
    </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-inner">
            <a class="navbar-brand" href="#"></a>
            <p class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}" class="navbar-link">
                    <span class="glyphicon glyphicon-user text-primary"></span>
                </a>
            </p>
        </div>
    </div>
</nav>
