body {
    background:
        url(../images/Trees_1400x900.png) no-repeat;
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

#top-div.container {
    padding-top: 65px;
}