<div class="container">
    <!-- ng-show and ng-if takes a boolean expression and checks if it is truthy. -->
    <div ng-if="model.error" class="alert alert-danger" role="alert">
        {{model.error}}
    </div>

        <h1>Login</h1>
        <input name="username"
               ng-model="username"
               type="text"
               autocorrect="off"
               autocapitalize="off"
               class="form-control"
               placeholder="Username"/>
        <input name="password"
               ng-model="password"
               type="password"
               class="form-control"
               placeholder="Password"/>
        <a ng-click="model.login(username, password)"
           name="login"
           class="btn btn-primary btn-block form-control">Login</a>
        <a href="#/register"
           class="btn btn-success btn-block">Register</a>
        <a href="/auth/facebook"
           class="btn btn-primary btn-block">
            <span class="fa fa-facebook-official"></span>
            Login with Facebook
        </a>
</div>