<div class="container">
    <div ng-if="model.error" class="alert alert-danger" role="alert">
        {{model.error}}
    </div>

    {{model.users}}

    <h1>Register</h1>
    <input ng-model="username"
           type="text"
           class="form-control"
           placeholder="Username"/>
    <input ng-model="password"
           type="password"
           class="form-control"
           placeholder="Password"/>
    <input ng-model="verifypassword"
           type="password"
           class="form-control"
           placeholder="Verify Password"/>
    <a ng-click="model.createUser(username, password, verifypassword)"
       class="btn btn-primary btn-block">Register</a>
    <a href="#/login"
       class="btn btn-danger btn-block">Cancel</a>
</div>