<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-inner">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>
            <a class="navbar-brand" href="#">
                Widgets
            </a>
            <p class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new" class="navbar-link">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </p>
        </div>
    </div>
</nav>



    <!--<wam-sortable></wam-sortable>-->

<!--{{model.widgets}}-->

    <wam-sortable model="model"
                  callback="model.reorderWidget(start, end)"></wam-sortable>



<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-inner">
            <p class="navbar-text pull-left">
                <a href="#" class="navbar-link">
                    <span class="glyphicon glyphicon-play"></span>
                </a>
            </p>
            <p class="navbar-text pull-left">
                <a href="#" class="navbar-link">
                    <span class="glyphicon glyphicon-eye-open"></span>
                </a>
            </p>
            <p class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}" class="navbar-link">
                    <span class="glyphicon glyphicon-user text-primary"></span>
                </a>
            </p>
        </div>
    </div>
</nav>