<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-inner">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>
            <a class="navbar-brand" href="#">
                Widget Edit
            </a>
            <p class="navbar-text pull-right">
                <a ng-click="model.updateWidget(model.widget)" class="navbar-link">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container">

    <div ng-if="model.error" class="alert alert-danger" role="alert">
        {{model.error}}
    </div>

    <form>
        <div class="form-group">
            <label for="name">Name</label>
            <input ng-model="model.widget.name"
                   type="text"
                   class="form-control"
                   placeholder="Name"
                   id="name"/>
        </div>
        <div class="form-group">
            <label for="title">Text</label>
            <input ng-model="model.widget.text"
                   type="text"
                   class="form-control"
                   placeholder="Text"
                   id="title"/>
        </div>
        <div class="form-group">
            <label for="url">URL</label>
            <input ng-model="model.widget.url"
                   type="url"
                   class="form-control"
                   placeholder="URL"
                   id="url"/>
        </div>
        <div class="form-group">
            <label for="size">Width</label>
            <select ng-model="model.widget.width"
                    type="text"
                   class="form-control"
                   value="Select Size"
                   id="size">
                <option>100%</option>
                <option>150%</option>
                <option>200%</option>
                <option>250%</option>
                <option>300%</option>
            </select>
        </div>
    </form>

    <!--<input ng-model="model.widget.imageUpload" type="file" id="upload" class="form-control">-->
    <form action="/api/uploads"  method="post" enctype="multipart/form-data">
        <label for="upload">Upload</label>
        <input  name="myFile" type="file" class="form-control" id="upload"/>
        <input  name="width" value="{{model.widget.width}}" style="display: none"/>
        <input  name="widgetId" value="{{model.widget._id}}"   style="display: none"/>
        <input name="pageId" value="{{model.pageId}}" style="display: none"/>
        <input name="websiteId" value="{{model.websiteId}}" style="display: none"/>
        <input name="userId" value="{{model.userId}}" style="display: none"/>
        <input name="name" value="{{model.userId}}" style="display: none"/>
        <button type="submit" class="btn btn-block btn-primary">Upload Image</button>

        <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{model.widget._id}}/flickr"
           class="btn btn-danger btn-block">Search</a>

        <a ng-click="model.deleteWidget(model.widgetId)"
           class="btn btn-danger btn-block">Delete</a>
    </form>

</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-inner">
            <a class="navbar-brand" href="#"></a>
            <p class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}" class="navbar-link">
                    <span class="glyphicon glyphicon-user text-primary"></span>
                </a>
            </p>
        </div>
    </div>
</nav>