<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-inner">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>
            <a class="navbar-brand" href="#">
                Choose Widget
            </a>
        </div>
    </div>
</nav>

<div class="container">
    <ul class="list-group">
        <li class="list-group-item">
            <a ng-click=model.createWidget("HEADER")>
                Header
            </a>
        </li>
        <li class="list-group-item">
            <a href="#">
                Label
            </a>
        </li>
        <li class="list-group-item">
            <a href="#">
                HTML
            </a>
        </li>
        <li class="list-group-item">
            <a href="#">
                Text Input
            </a>
        </li>
        <li class="list-group-item">
            <a href="#">
                Link
            </a>
        </li>
        <li class="list-group-item">
            <a href="#">
                Button
            </a>
        </li>
        <li class="list-group-item">
            <a ng-click=model.createWidget("IMAGE")>
                Image
            </a>
        </li>
        <li class="list-group-item">
            <a ng-click=model.createWidget("YOUTUBE")>
                Youtube
            </a>
        </li>
        <li class="list-group-item">
            <a href="#">
                Data Table
            </a>
        </li>
        <li class="list-group-item">
            <a href="#">
                Repeater
            </a>
        </li>
    </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-inner">
            <a class="navbar-brand" href="#"></a>
            <p class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}" class="navbar-link">
                    <span class="glyphicon glyphicon-user text-primary"></span>
                </a>
            </p>
        </div>
    </div>
</nav>