<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-inner">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>
            <a class="navbar-brand" href="#">
                Widget Edit
            </a>
            <p class="navbar-text pull-right">
                <a ng-click="model.updateWidget(model.widget)" class="navbar-link">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container">

    <div ng-if="model.error" class="alert alert-danger" role="alert">
        {{model.error}}
    </div>

    <form>
        <div class="form-group">
            <label for="name">Name</label>
            <input ng-model="model.widget.name"
                   type="text"
                   class="form-control"
                   placeholder="Name"
                   id="name"/>
        </div>
        <div ng-model="model.widget.text"
             class="form-group"
             text-angular
             ta-toolbar="[['h1','h2','h3'],['bold','italics','underline','strikeThrough'],
        ['ul','ol'],['justifyLeft','justifyCenter','justifyRight','justifyFull'],
        ['indent','outdent'],['html']]">
        </div>
        <a ng-click="model.deleteWidget(model.widgetId)"
           class="btn btn-danger btn-block">Delete</a>
    </form>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-inner">
            <a class="navbar-brand" href="#"></a>
            <p class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}" class="navbar-link">
                    <span class="glyphicon glyphicon-user text-primary"></span>
                </a>
            </p>
        </div>
    </div>
</nav>